In [1]:
# Import Libraries
import pandas as pd

In [36]:
# Read in data set
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [37]:
# Check the first 5 rows for content
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [43]:
# Change column names for optimal processing
df = df.rename(columns={'Postcode': 'PostalCode', 'Neighbourhood':'Neighborhood'}, inplace=True)

In [45]:
df.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor
7        M7A  Downtown Toronto      Queen's Park
8        M8A      Not assigned      Not assigned
9        M9A      Queen's Park      Not assigned

In [46]:
df.shape

(287, 3)

In [47]:
# Remove records not assigned to a Borough
toronto_dropNAB = df[df.Borough != 'Not assigned'].reset_index(drop=True)

In [50]:
toronto_dropNAB.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor
5        M7A  Downtown Toronto      Queen's Park
6        M9A      Queen's Park      Not assigned
7        M1B       Scarborough             Rouge
8        M1B       Scarborough           Malvern
9        M3B        North York   Don Mills North

In [51]:
# Combine rows with similar Neighbourhood - separate with a comma 
toronto_groupSN = toronto_dropNAB.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))

In [59]:
# Check first 5 rows of data set
toronto_groupSN.head(10)

  PostalCode      Borough                                   Neighborhood
0        M1B  Scarborough                                  Rouge,Malvern
1        M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                Guildwood,Morningside,West Hill
3        M1G  Scarborough                                         Woburn
4        M1H  Scarborough                                      Cedarbrae
5        M1J  Scarborough                            Scarborough Village
6        M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7        M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8        M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9        M1N  Scarborough                     Birch Cliff,Cliffside West

In [58]:
# Shape 
toronto_groupSN.shape

(103, 3)